<div class="panel-group left_content" id="accordion" role="tablist" aria-multiselectable="true">
	<div class="panel panel-default">
		<div class="panel-heading" role="tab" id="headingOne">
			<h4 class="panel-title">
					<a data-toggle="collapse" data-parent="#accordion"
						href="#collapseOne" aria-expanded="true"
						aria-controls="collapseOne"><span
						class="glyphicon glyphicon-list"></span>&nbsp;选项一&nbsp;<span
						class="caret"></span></a>
				</h4>
		</div>
		<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
			<div class="panel-body">
				<div class="list-group">
					<a href="#" class="list-group-item"><span
							class="glyphicon glyphicon-cog"></span>&nbsp;设置一<span
							class="glyphicon glyphicon-arrow-right pull-right arrow_right"></span></a>
					<a href="#" class="list-group-item"><span
							class="glyphicon glyphicon-cog"></span>&nbsp;设置二<span
							class="glyphicon glyphicon-arrow-right pull-right arrow_right"></span></a>
					<a href="#" class="list-group-item"><span
							class="glyphicon glyphicon-cog"></span>&nbsp;设置三<span
							class="glyphicon glyphicon-arrow-right pull-right arrow_right"></span></a>
					<a href="#" class="list-group-item"><span
							class="glyphicon glyphicon-cog"></span>&nbsp;设置四<span
							class="glyphicon glyphicon-arrow-right pull-right arrow_right"></span></a>
				</div>
			</div>
		</div>
	</div>
	<div class="panel panel-default">
			<div class="panel-heading" role="tab" id="headingTwo">
				<h4 class="panel-title">
					<a class="collapsed" data-toggle="collapse"
						data-parent="#accordion" href="#collapseTwo" aria-expanded="false"
						aria-controls="collapseTwo"><span
						class="glyphicon glyphicon-list"></span>&nbsp;选项二&nbsp;<span
						class="caret"></span></a>
				</h4>
			</div>
			<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel"
				aria-labelledby="headingTwo">
				<div class="panel-body">
					<div class="list-group">
						<a href="#" class="list-group-item"><span
							class="glyphicon glyphicon-cog"></span>&nbsp;设置一<span
							class="glyphicon glyphicon-arrow-right pull-right arrow_right"></span></a>
						<a href="#" class="list-group-item"><span
							class="glyphicon glyphicon-cog"></span>&nbsp;设置二<span
							class="glyphicon glyphicon-arrow-right pull-right arrow_right"></span></a>
						<a href="#" class="list-group-item"><span
							class="glyphicon glyphicon-cog"></span>&nbsp;设置三<span
							class="glyphicon glyphicon-arrow-right pull-right arrow_right"></span></a>
						<a href="#" class="list-group-item"><span
							class="glyphicon glyphicon-cog"></span>&nbsp;设置四<span
							class="glyphicon glyphicon-arrow-right pull-right arrow_right"></span></a>
					</div>
				</div>
			</div>
		</div>
	<div class="panel panel-default">
			<div class="panel-heading" role="tab" id="headingThree">
				<h4 class="panel-title">
					<a class="collapsed" data-toggle="collapse"
						data-parent="#accordion" href="#collapseThree"
						aria-expanded="false" aria-controls="collapseThree"><span
						class="glyphicon glyphicon-list"></span>&nbsp;选项三&nbsp;<span
						class="caret"></span></a>
				</h4>
			</div>
			<div id="collapseThree" class="panel-collapse collapse"
				role="tabpanel" aria-labelledby="headingThree">
				<div class="panel-body">
					<div class="list-group">
						<a href="#" class="list-group-item"><span
							class="glyphicon glyphicon-cog"></span>&nbsp;设置一<span
							class="glyphicon glyphicon-arrow-right pull-right arrow_right"></span></a>
						<a href="#" class="list-group-item"><span
							class="glyphicon glyphicon-cog"></span>&nbsp;设置二<span
							class="glyphicon glyphicon-arrow-right pull-right arrow_right"></span></a>
						<a href="#" class="list-group-item"><span
							class="glyphicon glyphicon-cog"></span>&nbsp;设置三<span
							class="glyphicon glyphicon-arrow-right pull-right arrow_right"></span></a>
						<a href="#" class="list-group-item"><span
							class="glyphicon glyphicon-cog"></span>&nbsp;设置四<span
							class="glyphicon glyphicon-arrow-right pull-right arrow_right"></span></a>
					</div>
				</div>
			</div>
		</div>
</div>