<nav class="navbar navbar-inverse">
	<div class="container">
		<!-- 系统商标 -->
		<div class="navbar-header">
			<a class="navbar-brand" href="#">
				<img alt="Brand" src="BASE_PATH/Public/images/Home/brand.png"/>
			</a>
		</div>

		<!-- nav的内容-->
		<ul class="nav navbar-nav">
			<li class="active"><a href="#">主页</a></li>
			<li><a href="#">文件</a></li>
		</ul>

		<ul class="nav navbar-nav navbar-right">
			<li>
				<form class="navbar-form navbar-left" role="search">
					<div class="form-group">
						<input type="text" class="form-control" placeholder="搜索你的文件">
					</div>
					<button type="submit" class="btn btn-default">搜&nbsp;索</button>
				</form>
			</li>
			<li class="dropdown navbar_myinfo">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">用户名 <span class="caret"></span></a>
				<ul class="dropdown-menu">
					<li><a href="#">我的信息</a></li>
					<li><a href="#">我的文件</a></li>
					<li role="separator" class="divider"></li>
					<li><a href="#">设&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;置</a></li>
					<li><a href="#">退&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;出</a></li>
				</ul>
			</li>
		</ul>
	</div>
	<!-- /.container -->
</nav>